<div class="container">
  <h1 class="text-center main-title">Eat Da Burger Yo!</h1>
  <div class="row">
    <div class="col-sm burger-section">
      <h2 class="text-center">Eat It Yo!</h2>
      <ol class="burger-menu">
        {{#each burgers}} {{#unless devoured}} {{> burgers/new_burger devoured=true}} {{/unless}} {{/each}}
      </ol>
    </div>
    <h2 class="text-center title-burger">Create Yo Burger!</h2>
    <form class="create-form text-center">
      <div class="form-group text-center">
        <textarea class="description" type="text" id="bu" name="name"></textarea>
      </div>
      <button class="burger-button btn-warning" type="submit">Add a Burger</button>
    </form>
    <div class="col-sm burger-section">

      <h2 class="text-center">Devoured Burgers!</h2>

      <ul>
        {{#each burgers}} {{#if devoured}} {{> burgers/burger-block devoured=false}} {{/if}} {{/each}}
      </ul>

    </div>

  </div>
</div>